<table class="table table-sm table-bordered" id="active_alarms_details_table">
    <thead>
    <tr>
        <th width="20%">Timestamp</th>
        <th width="10%">Duration</th>
        <th width="10%">Class</th>
        <th width="10%">Location</th>
        <th width="20%">Description</th>
        <th width="20%">Variable Name</th>
    </tr>
    </thead>
    <tbody id="active_alarms_details_tbody">
    <tr>
        <td colspan="6">No active alarm to display</td>
    </tr>
    </tbody>
</table>
<div class="row" id="active_alarms_ticker_container">
    <div class="col-lg-12">
        <ul id="alarm-ticker"></ul>
    </div>
</div>