<div>
    THis is device
<br></br>b
<br></br>a
<br></br>ba
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>b
<br></br>a
<br></br>ba
<br></br>ba
<br></br>b
<br></br>a
<br></br>ba
<br></br>ba
<br></br>ba
<br></br>b
<br></br>a
<br></br>This is last line
</div>
<footer id="footer" class="container-fluid">
    <%- include('../components/general_footer.ejs') %>
</footer>
<script>
    /* global basicInfo */
    function systemPageLoaded(){
        if(basicInfo['connected']){

        }
    }
</script>