<div class="row mt-2">
    <div class="col-12 text-center">
        <div class="px-1 py-2 border border-light" style="display: inline-block;border-width: 4px !important;">
            <span class="mr-2 px-2" id="site_name">--</span>
            <span class="mr-2 px-2 " id="machine_name">--</span>
            <span>Install Date: <span id="install_date">--</span></span>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-6">
        <h3>Threshold Parameters</h3>
        <div style="display: block; overflow-y: auto; height: 238px">
            <table class="table table-sm table-bordered table-striped" id="table_parameters_threshold" style="font-size: 12px;">
                <thead>
                <tr>
                    <th style="width: 109px;">Parameter ID</th>
                    <th>Description</th>
                    <th style="width: 54px;">Value</th>
                    <th style="width: 72px;">Unit</th>
                    <th style="width: 228px;"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <h3>Timeout Parameters</h3>
        <div style="display: block; overflow-y: auto; height: 370px">
            <table class="table table-sm table-bordered table-striped" id="table_parameters_timeout" style="font-size: 12px;">
                <thead>
                <tr>
                    <th style="width: 109px;">Parameter ID</th>
                    <th>Description</th>
                    <th style="width: 54px;">Value</th>
                    <th style="width: 72px;">Unit</th>
                    <th style="width: 228px;"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>Barcode</h3>
        <div style="display: block;">
            <table class="table table-sm table-bordered table-striped" id="table_parameters_barcode" style="font-size: 12px;">
                <thead>
                <tr>
                    <th style="width: 109px;">Parameter ID</th>
                    <th>Description</th>
                    <th style="width: 54px;">Value</th>
                    <th style="width: 72px;">Unit</th>
                    <th style="width: 228px;"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <h3>Singulator Parameters</h3>
        <div style="display: block; overflow-y: auto; height: 370px">
            <table class="table table-sm table-bordered table-striped" id="table_parameters_singulator" style="font-size: 12px;">
                <thead>
                <tr>
                    <th style="width: 109px;">Parameter ID</th>
                    <th>Description</th>
                    <th style="width: 54px;">Value</th>
                    <th style="width: 72px;">Unit</th>
                    <th style="width: 228px;"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>


<footer id="footer" class="container-fluid">
    <%- include('../components/maint_footer') %>
</footer>
<script>
    /* global basic_info */
    /* global ipcRenderer */

    function systemPageLoaded(){
        if(basic_info['machines'][basic_info['selectedMachineId']]){
            let machine=basic_info['machines'][basic_info['selectedMachineId']];
            $('#site_name').text(machine['site_name']);
            $('#machine_name').text(machine['machine_name']);
            //$('#install_date').text(machine['install_at']);
            $('#install_date').text(moment(machine['install_at']).format('MMM D Y, H:mm:ss'))
        }
        Object.values(basic_info['parameters']).forEach(item => {
            let html='<tr>' +
                '<td style="text-align: center">' + item['param_id'] + '</td>' +
                '<td>' + item['description'] + '</td>' +
                '<td style="text-align: right" id="value_param_id_'+item['param_id']+'">' + item['value'] + '</td>' +
                '<td>' + item['unit'] + '</td>' +
                '<td>'+
                ((basic_info['currentUser']['role'] == 1 || basic_info['currentUser']['role'] == 2) ?
                        '<div class="input-group">' +
                        '<input id="input_send_set_param_command_'+item['param_id']+'" type="text" class="form-control integer_positive">' +
                        '<div class="input-group-append">' +
                        '<button data-param_id="'+item['param_id']+'" class="btn btn-primary btn-sm btn_send_set_param_command">change</button>' +
                        '</div>' +
                        '</div>':''
                )+
                '</td>' +
                '</tr>';

            if (item['param_id'] > 0 && item['param_id'] < 20) {
                $('#table_parameters_threshold tbody').append(html)
            }
            else if (item['param_id'] >19 && item['param_id'] < 50) {
                $('#table_parameters_timeout tbody').append(html)
            }
            else if (item['param_id'] ==50) {
                $('#table_parameters_barcode tbody').append(html)
            }
            else if (item['param_id'] >99 && item['param_id'] < 110) {
                $('#table_parameters_singulator tbody').append(html)
            }

        });
        if(basic_info['connected']){
            requestMaintParamsData();
            setInterval(() => {requestMaintParamsData()}, 2000);
        }
    }
    function requestMaintParamsData(){
        let requestData=[
            {'name':'parameters_value','params':{}},
        ];
        ipcRenderer.send("sendRequestToServer", "getMaintParamsData",{},requestData);
    }
    $(document).on('click','.btn_send_set_param_command',function (event){
        let param_id=$(this).attr('data-param_id')
        let value=$('#input_send_set_param_command_'+param_id).val();//not verifying number
        let params={
            'message_id':115,
            'param_id':param_id,
            'value':value
        };
        ipcRenderer.send("sendRequestToServer", "forward_ape_message",params,[]);
    })
    ipcRenderer.on("getMaintParamsData", function(e, jsonObject) {
        for(let key in jsonObject['data']['parameters_value']){
            let parameter_info=jsonObject['data']['parameters_value'][key];
            $('#value_param_id_'+parameter_info['param_id']).text(parameter_info['value'])
        }
    })

</script>