<div class="row mt-2">
    <div class="col-12">
        Bin single
    </div>
</div>
<footer id="footer" class="container-fluid">
    <%- include('../components/statistics_footer') %>
</footer>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    function systemPageLoaded(){
        if(basic_info['connected']){
            let requestData=[
                {'name':'statistics_counter','params':{'per_page':1}},
            ];
            ipcRenderer.send("sendRequestToServer", "getStatisticsCounterLast",{},requestData);//send request now
            setInterval(() => {
                ipcRenderer.send("sendRequestToServer", "getStatisticsCounterLast",{},requestData);
            }, 60000);
        }
    }
    ipcRenderer.on("getStatisticsCounterLast", function(e, jsonObject) {
        if(jsonObject['data']['statistics_counter']['records'].length>0){
            let shiftInfo=jsonObject['data']['statistics_counter']['records'][0];
            let shift_starting_time = shiftInfo['created_at_timestamp'];
            let to_timestamp = moment().unix();
            let diff = moment(shift_starting_time*1000).minutes()% 3;

            let shift_starting_time_round = shift_starting_time - diff * 60- moment(shift_starting_time*1000).seconds();

            let requestData=[
                {'name':'statistics_bins','params':{'from_timestamp': shift_starting_time_round,'to_timestamp': to_timestamp,'bin_id':basic_info['pageParams']['bin']['bin_id']}},
            ];
            ipcRenderer.send("sendRequestToServer", "getStatisticsBins",{},requestData);//send request now
        }
    })
    ipcRenderer.on("getStatisticsBins", function(e, jsonObject) {
        console.log(jsonObject)
    })
</script>