<div class="row">
    <div class="col-lg-12" >
        <span style="font-size: 1.875rem">Token</span>
        <img id="system_loading" style="display: none;" src="theme/images/loading.gif" alt="Loading">
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="alert alert-warning alert-dismissible fade show" id="alert_message_container" role="alert" style="display: none;">
            <p class="mb-0" id="alert_message"></p>
            <button type="button" class="close alert-close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3"><h5>From</h5></div>
    <div class="col-md-3"><h5>To</h5></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 pr-0">
                <input type="text" class="form-control" id="from_date" placeholder="From date">
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="from_date_hour"></select>
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="from_date_minute"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 pr-0">
                <input type="text" class="form-control" id="to_date" placeholder="To date">
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="to_date_hour"></select>
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="to_date_minute"></select>
            </div>
        </div>
    </div>
    <div class="col-md-1 pr-0">
        <select class="form-control" id="filter_sorting_code">
            <option value="-1">Sorting code...</option>
        </select>
    </div>
    <div class="col-md-1 pr-0">
        <button type="button" class="btn btn-primary form-control" id="button_filter">Filter</button>
    </div>
    <div class="col-md-2 pr-0">
        <div class="row">
            <label class="col-md-4 col-form-label pr-0" for="per_page">No of rows</label>
            <div class="col-md-6 pl-1 pr-0">
                <select class="form-control" id="per_page">
                    <option value="50">50</option>
                    <option value="500" selected>500</option>
                    <option value="1000">1000</option>
                    <option value="1500">1500</option>
                    <option value="0">All</option>

                </select>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <table class="table table-sm table-bordered" id="table_datatable">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>PLC Id</th>
                    <th>Length</th>
                    <th>Barcode1</th>
                    <th>SortedCode</th>
                    <th>Destination</th>
                    <th>FinalDestination</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th>Timestamp</th>
                    <th>PLC Id</th>
                    <th>Length</th>
                    <th>Barcode1</th>
                    <th>SortedCode</th>
                    <th>Destination</th>
                    <th>FinalDestination</th>
                </tr>
                </tfoot>
            </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <ul class="pagination  float-right" id="pagination_container">

        </ul>
    </div>
</div>

<script>
    /* global basic_info */
    /* global ipcRenderer */
    /* global getPaginationHtml */
    let current_page=1;
    let dataTable= $('#table_datatable').DataTable({
        //dom: 'Bifrtp',
        dom: '<Bif>rtp',
        paging: false,
        buttons: [
            {
                extend: 'csv',
                fieldSeparator: ";",
                text: 'Export'
            }],
        scrollY: 400,
        "columns": [
            {},
            {className: "text-right pr-3"},
            {},
            {},
            {},
            {},
            {},
        ],

    });
    function systemPageLoaded(){
        for (let i = 0; i < 24; i++) {
            let option= '<option value="' +(i<10?'0':'')+ i + '">' + (i<10?'0':'')+i+ '</option>';
            $("#from_date_hour").append(option);
            $("#to_date_hour").append(option);
        }
        for (let i = 0; i < 60; i++) {
            let option= '<option value="' +(i<10?'0':'')+ i + '">' + (i<10?'0':'')+i+ '</option>';
            $("#from_date_minute").append(option);
            $("#to_date_minute").append(option);
        }
        $("#from_date").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            orientation: "bottom right"
        });
        $("#to_date").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            orientation: "bottom right",
        });

        for (let key in basic_info['scs']) {
            let sc = basic_info['scs'][key];
            $("#filter_sorting_code").append('<option value="' + sc.value + '">' + sc.label + '</option>');
        }
        if(basic_info['connected']){
            let requestData=[
                {'name':'statistics_counter','params':{'per_page':1}},
            ];
            ipcRenderer.send("sendRequestToServer", "getStatisticsCounterLast",{},requestData);//send request now
        }
    }
    ipcRenderer.on("getStatisticsCounterLast", function(e, jsonObject) {
        if(jsonObject['data']['statistics_counter']['records'].length>0){
            let startDate=moment(jsonObject['data']['statistics_counter']['records'][0]['created_at_timestamp']*1000);
            $('#from_date_hour').val((startDate.hour()<10?"0":"")+startDate.hour())
            $('#from_date_minute').val((startDate.minute()<10?"0":"")+startDate.minute())
            $('#from_date').datepicker('update', startDate.format('MM-DD-YYYY'));

            let now=moment();
            $('#to_date_hour').val((now.hour()<10?"0":"")+now.hour())
            $('#to_date_minute').val((now.minute()<10?"0":"")+now.minute())
            $('#to_date').datepicker('update', now.format('MM-DD-YYYY'));
            current_page=1;
            $('#button_filter').trigger('click')

        }
        else{
            let error_message = "<b>Please Contact with admin. No Schedule found</b>";
            $("#alert_message").html(error_message);
            $("#alert_message_container").show();
        }
    })
    ipcRenderer.on("getProductsHistory", function(e, jsonObject) {
        $('#system_loading').hide()
        for(let key in jsonObject['data']['products_history']['records']){
            let record=jsonObject['data']['products_history']['records'][key]
            dataTable.row.add([
                moment.unix(record['created_at_timestamp']).format("MMM D Y, H:mm:ss"),
                record['mail_id'],
                record['length'],
                record['barcode1_string'],
                record['reason'],
                record['destination'],
                record['destination_final'],
            ]);
        }
        dataTable.draw();
        let params=jsonObject['data']['products_history']['params'];
        let totalRecords=jsonObject['data']['products_history']['totalRecords'];
        $('#pagination_container').html(getPaginationHtml(totalRecords,params['per_page'],params['page']))

    })
    $(document).on('change','#per_page',function (event){
        current_page=1;
        $('#button_filter').trigger('click')
    })
    $(document).on('click','#button_filter',function (event){
        $("#alert_message_container").hide();
        let from_timestamp = moment($('#from_date').val()+" "+$("#from_date_hour").val()+":"+$("#from_date_minute").val(), "MM-DD-YYYY HH:mm").unix();
        let to_timestamp = moment($('#to_date').val()+" "+$("#to_date_hour").val()+":"+$("#to_date_minute").val(), "MM-DD-YYYY HH:mm").unix();
        if(Number.isInteger(from_timestamp) && Number.isInteger(to_timestamp)){
            if(basic_info['connected']) {
                let requestData = [
                    {
                        'name': 'products_history',
                        'params': {
                            'reason': $('#filter_sorting_code').val(),
                            'from_timestamp': from_timestamp,
                            'to_timestamp': to_timestamp,
                            'per_page': $('#per_page').val(),
                            "page": current_page
                        }
                    },
                ];
                $('#system_loading').show()
                dataTable.clear().search('').draw();
                ipcRenderer.send("sendRequestToServer", "getProductsHistory", {}, requestData);
            }
            else{
                let error_message = "<b>Server Not connected</b>";
                $("#alert_message").html(error_message);
                $("#alert_message_container").show();
            }
        }
        else{
            let error_message = "<b>Please select dates correctly</b>";
            $("#alert_message").html(error_message);
            $("#alert_message_container").show();
        }
    })
    $(document).on('click','#pagination_container .page-item:not(".disabled")',function (event){
        let page=$(this).attr('data-page')
        if(page=='-' && current_page>1){
            current_page--;
        }
        else if(page=='+'){
            current_page++;
        }
        else
        {
            current_page=page;
        }
        $('#button_filter').trigger('click')
    })
</script>